/* Make sure body takes full height */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #e2e4e3;
  color: #333;
}


/* Ensure the app takes the full height of the viewport */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main content will grow and push footer down if needed */
.main-content {
  flex: 1;
}

/* General styling */
h2 {
  color: #2c3e50;
  margin-bottom: 10px;
}

p, label {
  font-size: 1rem;
  line-height: 1.6;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}
